<!DOCTYPE html>
<html>
<head>
  <title>ChronoCal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col min-h-screen bg-gray-100" data-controller="time-zone">
<header>
  <%= render 'shared/menu/navbar' %>
</header>

<!-- Main Content -->
<main class="flex-grow container mx-auto px-4">
  <%= yield %>
</main>

<!-- Footer -->
<footer class="bg-blue-600 text-white text-center p-4">
  © <%= Time.zone.now.year %> Diego Auza Derpic. Crafted with care and 💜 for 37signals.
</footer>
</body>
</html>
