<!DOCTYPE html>
<html>
<head>
  <title>ChronoCal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col min-h-screen bg-gray-100">
<header class="bg-blue-600 text-white">
  <nav class="container mx-auto flex justify-between items-center py-4">
    <div class="text-lg font-bold">
      <%= link_to "CronoCal", root_path, class: "text-white hover:text-blue-300" %>
    </div>
    <div>
      <%= link_to "Create Event", new_event_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </nav>
</header>

<!-- Main Content -->
<main class="flex-grow container mx-auto px-4">
  <%= yield %>
</main>

<!-- Footer -->
<footer class="bg-blue-600 text-white text-center p-4">
  © <%= Time.zone.now.year %> Diego Auza Derpic. Crafted with care and 💜 for 37 Signals.
</footer>
</body>
</html>
